<body data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="" cz-shortcut-listen="true">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Contacts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <main role="main" class="container">

    <div class="view-container">
      <div class="row buttons-row">
        <div class="col-6">
          <button type="button" class="btn btn-primary" (click)="newContactModal(contactModal)">New</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let contact of contacts">
              {{contact.name}}
              <button type="button" class="btn btn-outline-info btn-sm" (click)="editContactModal(contact, contactModal)">Edit</button>
              <button type="button" class="btn btn-outline-info btn-sm" (click)="deleteContact(contact)">Delete</button>
            </li>
          </ul>
        </div>
      </div>

      <ng-template #contactModal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Contact</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="fg" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="id">
            <div class="form-group">
              <label for="nameInput">Name</label>
              <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
            </div>
            <div class="form-group">
              <label for="nameInput">Email</label>
              <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </ng-template>

    </div>
  </main>
</body>